parameters:
	level: 1
	paths:
		- src
	scanFiles:
		- _register.php
	excludePaths:
	    - src/BaseComponent.php
	ignoreErrors:
	    - '#^Class [a-zA-Z\\]+ not found.$#'
	    - '#^Parameter \$[a-zA-Z]+ of anonymous function has invalid type [a-zA-Z\\]+.$#'
