parameters:
	level: 1
	paths:
		- src
	scanFiles:
		- _register.php
	ignoreErrors:
	    - '#^Class CBitrixComponent not found.$#'
	    - '#^Class Bitrix\\Main\\HttpRequest not found.$#'
	    - '#^Parameter \$component of anonymous function has invalid type CBitrixComponent.$#'
